.grid {
    display: flex;
    border: 10px solid grey;
    width: 800px;
    height: 800px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.box {
    background-color: white;
    flex-grow: 1;
}